.screen-epilogue
  height: 50vh
  box-sizing: border-box
  position: relative
  background-color: #ffffff
  min-height: 200px
  z-index: 2
  +clear
  text-align: center
  padding: 70px 0
  +resp(sdevice)
    height: auto
    padding: 50px 0

.screen-epilogue__title
  font-size: 64px
  +resp(sdevice)
    font-size: 40px
  +resp(pho)
    font-size: 25px

.screen-epilogue__logo
  margin: 20px 0 0


.contact-form
  width: 400px
  margin: 0 auto
  +resp(sdevice)
    width: 100%
    padding: 0 20px
    box-sizing: border-box