.right
  float: right

.left
  float: left

.no-overflow
  overflow: hidden

.text-left
  text-align: left

.text-center
  text-align: center

.hide
  display: none

.show
  display: block

.margin-top
  margin-top: 20px

.content-margin
  margin-bottom: 40px

.content-margin_huge
  margin-bottom: 80px

.relative
  position: relative

.no-decor
  text-decoration: none

.underline
  text-decoration: underline

.tab-hidden
  +resp(tab)
    display: none

.sdevice-hidden
  +resp(sdevice)
    display: none

.clear
  +clear
